venv/
env/
.venv/

__pycache__/
*.pyc
*.pyo
*.pyd

pip-log.txt
pip-delete-this-directory.txt

logs/
*.log
*.out
*.err
debug.log

config.toml 
*.ini
*.env

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.exe
*.dll
*.so
*.dylib

.git/

tests/__pycache__/
*.swp
*.swo

prism-cli-win.exe
prism-cli-linux
prism-cli-macos
